/* clearfix class */
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


.mybackground {

  background: url(../images/handseldercaressimg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family:helvetica;

}


.boxforcarelinked{

width: 400px;
padding-top: 3.5rem;
padding-bottom: 3.5rem;
font-size: 35px; font-weight:200; 
font-family: "Trebuchet MS", Helvetica, sans-serif;
text-align: center;
margin: 0 auto;
color: #72bcd4;

text-decoration: none;

}

.boxforcarelinked a .clearfixed {

  text-decoration: none;
}

.moduleindex{

  text-decoration: none;

  width:550px;  
  height: 0 auto;
  border-radius: 10px;

  margin-top: 10rem;    
  margin-bottom: 6.5rem;

  margin-left:auto;
  margin-right:auto;
  text-align: center;

  background-color: white;
  
  position: relative;

  /*border: 1px solid blue;*/
 /* box-shadow: 3px 3px 5px 6px #ccc;
-webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
*/

}

nav-tabs.col-md-4{
  
  float:left;
  height:60px;
 text-align: center;
  cursor:pointer;
  
  position: relative;

  margin: 0 auto;
  transition:background .4s;
  box-sizing:border-box;
 
}


.tab:hover{  
  background-color:rgba(0,0,0,.1);
}

.activeTab{
  background:#fff;
  opacity:1;
}

.button{
  height:50px;
  width:100%;
  border-radius:3px;
  border:rgba(0,0,0,.3) 0px solid;
  box-sizing:border-box;
  padding:10px;
 
  background:#90c843;
  color:#FFF;
  font-weight:bold;
  font-size: 12pt;
  transition:background .4s;
  cursor:pointer;
   /*margin-bottom:30px;*/
}

.button:hover{
  background:#80b438;
  
}

.textarea--boxes {
width: 400px;
margin-left: 7rem;
margin-top: 3rem;
line-height: 1rem;

}

.tab-content {

width: 400px;

text-align: center;
margin-top: 7rem;
margin-left: 7.5rem;
margin-bottom: 3rem;

/*border: 2px solid black;*/

}

.colortexttabs a {

color: black;

}

/*INDEX VERY FIRST PAGE WHEN OPEN CENTER BUTTONS*/

.thesetwo--loginbuttons {

display: inline-block;

margin: 0 auto;

padding-top: 2rem;
padding-bottom: 2rem;
/*border: 2px solid green;*/
/*height: 35px;
width: 410px;*/
}

.boxindexlogin {

width: 75px;
height: 50px;

float: left;
display: inline-block;
margin-left: 24rem;
margin-top: 0.7rem;
/*border: 2px solid black;*/

}

.button-indexlogin {

font-weight: normal;
font-family: helvetica, arial narrow;
background: grey; /*#6699FF*/; 
color:white; font-size: 15px;
border-radius: 10px;

/*border: 2px solid black;*/

}

.box911--button {

width: 90px;
height: 65px;

margin-left: rem; 

float: left;
display: inline-block;

/*border: 2px solid black;*/

}

.buttonratio-911-submit {

color: white;
font-weight: bold;
font-family: helvetica, arial narrow;
border-radius: 40px;
background-color: orange;
font-size: 20px;

}

.listofpatients {

margin-top: 0.5rem;
color: grey;
font-weight: bold;

}


.listofpatients select{

border-radius: 10px;
font-weight: normal;
}


.patientmedhis911 {

text-align: left;
padding: 3rem;

font-family: helvetica, arial narrow;
color: grey;

}

.modal-footer {

margin-top: 1;

}

.subtitledefineemergency {

margin-bottom: 1rem;
margin-top: 1rem;
color: grey;
}

.modal-title {

margin-top: 3rem;

}

.form-controlcontrol {

text-align: center;
width: 500px;
height: 60px ;
border-radius: 10px;

}

.top-navtab {
width: 100%;
height: 90px;


background-color:rgba(192,192,192,0.7);
/*border: 2px solid black;*/

}

.box1{

display: inline-block;
float: left;

margin-right: 0.6rem;
margin-top: 3.3rem;
margin-left: 5rem;
color: white; font-size: 16px; font-weight: bold;
/*border: 2px solid black;*/
}




/*.module a {

  position:relative;
  margin-top: 7rem;    
  margin-bottom: 3rem;
  padding: 2rem;

  width:550px;
  margin-left:auto;
  margin-right:auto;
  border-radius:10px;

  text-decoration: none;
*/
}

/*.boxboxbuttons {

width: 450px;
height: auto;
display: inline-block;
margin-left: 2.7rem;
margin-top: 5rem;

border: 2px solid red; */
}


/*.classtop--button {

width: 490px;
height: auto;

margin-left: 0.5rem;
margin-right: 0.5rem; 
margin-bottom: 3rem;

border: 2px solid black;*/

}

/*.buttonratio-submit {

border-radius: 10px;
padding-left: 2rem; padding-right: 2rem;
font-size: 17px;
font-family: helvetica, arial narrow;
font-weight: normal;
color: white;
margin-right: 0.5rem;
/*margin-bottom: 2rem;*/
/*margin-left: 0.5rem;
background-color: #6699FF ;

border: 2px solid black;
}*/

/*.boxregister.clearfix {

width: 150px;
height: 30px;
margin-left: 19rem;

margin-top: 4rem;
font-family: helvetica, arial; font-weight: normal; font-size: 13px;
text-align: center;
border: 2px solid black;
}*/

/*.boxregister button {

background: #6699FF; 
color:white;
border-radius: 30px;

}

.hyper--box {

border: 3px solid green;
background-color: green;

}*/

/*.module{

  position:relative;
  margin-top: 7rem;    
  margin-bottom: 3rem;
  padding: 2rem;

  width:550px;
  margin-left:auto;
  margin-right:auto;
  border-radius:10px;
  text-decoration: none;
  border: 1px solid grey;*/

    /*box-shadow: 3px 3px 5px 6px #ccc;
-webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;*/


/*<div class="divisorydash">
 </div> 
.divisorydash {

margin-top: 1.7rem;
margin-left: 39.8rem;
margin-bottom: 1.7rem;
width: 80px;
border-top: 1px solid grey;
}*/

/*.form-linksbottom   {
width: 170px;

margin-left: 20.3rem;
margin-top: 3rem;
margin-bottom: 0.3rem;
color: green;  
text-decoration:none;
font-weight:normal;*/

  /*border: 2px solid black;*/

}

/*.bottom--wrapper{
width: 250px;
padding-bottom: 1rem;

display: inline-block;

  margin-left: 14rem;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  display:block;
  color:#ad5482;  
  text-decoration:none;
  font-weight:normal;
  text-align:center;*/
  
  /*border: 2px solid black;*/

}
 /*<style type="text/css">
  .bs-example{
    margin: 20px;
  }
</style>*/



/*.quickprofile--button {

width: 200px;
height: auto;

margin-left: 15rem; 
margin-bottom: 1rem;

border: 2px solid black;*/



/*a{
  display:block;
  color:#ad5482;  
  text-decoration:none;
  font-weight:bold;
  margin-top:40px;
  text-align:center;
}*/


