

.mybackground {

  background: url(../images/pic1blurred.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

margin: 0 auto;
font-size: 10px;

}

.allwrapper {

padding: 2.5rem;

}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */

}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

*, *:after, *:before { -webkit-box-sizing: border-box; 
             -moz-box-sizing: border-box; 
            box-sizing: border-box; }
body, html {  padding: 0; margin: 0;}


body, html {
    height: 100%;
    width: 100%;
    
    
    margin: auto 0;
  
    padding: 0;
    margin: 0;
    
    cursor: auto;
   
}


/*border: 1px solid red;*/


.container {
width: 900px;
height: 0 auto;

padding-top: 4rem;

margin-top: 10rem;
margin-bottom: 10rem;

line-height: 2.3rem;
font-family: 'Montserrat', sans-serif, Helvetica;
font-size: 14px;

margin-left:  0 auto;
margin-right: 0 auto;

margin: 0 auto;

background-color: white; #33ccff;
text-align: justify;

/*border: 2px solid black;*/
/*border: 3px solid white;*/
/*box-shadow: 3px 3px 5px 6px #ccc;
-webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;

#87CEFA
*/
/*background-color: #DCF0F7;*/

/*padding-left: 5rem;
padding-right: 5rem;*/
}

.pure-control-group{


background-color: green;


}

.boxboxforcarelinked  {

width: 300px;
margin-left: 13.4rem;
padding-top: 2rem;

padding-bottom: 4rem; 

margin: 0 auto;
text-align: center;
/*border: 2px solid green;*/
text-decoration: none;
}

.boxboxforcarelinked a {

font-size: 30px; 
font-weight:bolder; 
font-family: helvetica, arial narrow;

color: black;
text-align: center;
text-decoration: none;

}

/*.caregivertittle--box {

/*border: 3px solid black; */
/*width: 250px;
margin-left: 11.6rem;
margin-top: 3rem;
padding-bottom: 3rem;
font-family: helvetica;
font-size: 18px;

margin: 0 auto;
text-align: center;

}  */

.patienttittle--box {

margin-left: 9.3rem;
font-family: helvetica;
font-size: 20px;

}

.pure-form-editing {

background-color: green;

}

select {
margin-right: 70%;
float: right;

}

textarea {
margin-right: 70%;
float: right;

}

 .box--editbutton {

width: 400px;
/*margin-top: 3rem;*/
margin-left: 37rem;
margin-bottom: 4rem;
margin-top: 5rem;

/*border: 2px solid black;*/

} 

.pure-input-1-2 {
width: 150px;
height: 100px ; 

font-weight: bold;
display: inline-block; 

/*border: 2px solid blue;*/

}

.medicalhistorytext {

margin-right: 1.7rem;

/*border: 2px solid green;*/
display: inline-block;

}

.innerbox--patientinformation{

margin: 1rem;
padding: 3rem;
border-radius: 20px;
border: 2px solid black;
background-color: ;

}

.modal-content {
width: 900px;
margin: 1rem;

}

.modal-body {

border: 2px solid grey;
border-radius: 10px;
margin: 1rem;
padding: 2rem;
background-color: 
}


.tittleforinputhere {

display: inline-block;
float: left;

}

.modal-header {

font-size: 15px; 
font-weight:bolder; 
font-family: helvetica, arial narrow;

color: black;
text-align: center;
text-decoration: none;

}


/*.pure-control-grouphisto {
font-weight: bold;
width: 500px; 
display: inline-block;
margin-left: 1.5rem;
border: 2px solid yellow;*/



/*.med--history{

width: 400px;
padding-left: 1rem;

display: inline-block;

line-height: 2.5rem;

/*border: 2px solid red;*/


/*.medform {

padding-top: 0.5rem;

}

.healthform {

padding-top: 3.5rem;

}*/

/*.bloodtype{
width: 250px;*/
/*margin-left: 4.5rem;
margin-bottom: 1rem;
margin-top: 1rem; 

font-weight: bold;

display: inline-block;
float: left;*/

/*border: 2px solid black;*/
}

/*.bloodtype select {

margin-left: 51rem; 

}*/



/*.boxesbuttons {
width: 300px;

margin-left: 6rem;

margin-top: 2rem;

  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  
} */

 