

.mybackground {

  background: url(../images/handseldercaressimg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

margin: 0 auto;


}

.allwrapper {

padding: 2.5rem;

}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */

}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

*, *:after, *:before { -webkit-box-sizing: border-box; 
             -moz-box-sizing: border-box; 
            box-sizing: border-box; }
body, html {  padding: 0; margin: 0;}


body, html {
    height: 100%;
    width: 100%;
    
    
    margin: auto 0;
  
    padding: 0;
    margin: 0;
    
    cursor: auto;
   
}


/*border: 1px solid red;*/


.container {
width: 700px;
height: 0 auto;

padding-top: 3rem;

line-height: 2.3rem;
font-family: 'Montserrat', sans-serif, Helvetica;
font-size: 14px;

margin-left:  0 auto;
margin-right: 0 auto;

margin: 0 auto;

border-radius: 10px;
background-color: white; #33ccff;
text-align: justify;

/*border: 2px solid black;*/
/*border: 3px solid white;*/
/*box-shadow: 3px 3px 5px 6px #ccc;
-webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;

#87CEFA
*/
/*background-color: #DCF0F7;*/

/*padding-left: 5rem;
padding-right: 5rem;*/
}


.boxforcarelinked  {

width: 300px;
margin-left: 13.4rem;
padding-top: 1rem;

padding-bottom: 1rem; 

margin: 0 auto;
text-align: center;
/*border: 2px solid green;*/
text-decoration: none;
}

.boxforcarelinked a {

font-size: 35px; 
font-weight:bolder; 
font-family: "Trebuchet MS", Helvetica, sans-serif;

color: #72bcd4;
text-align: center;
text-decoration: none;

}

.patienttittle--box {

margin-left: 9.3rem;
font-family: helvetica;
font-size: 20px;

}

select {
margin-right: 20%;
padding: 0.6rem;
float: right;
border-radius: 5px;
width: 90px;
text-align: center;
}

select option {

text-align: center;

}


textarea {
margin-right: 70%;
float: right;

}

 .editbutton {

width: 400px;
/*margin-top: 3rem;*/

margin: 0 auto;

margin-top: 1rem;
margin-bottom: 1rem;

text-align: center;

/*border: 2px solid red;*/

} 

.editbutton-btn {
background-color: #66CCCC;
color: white;
border: none;

}

 .saveclose--button {

width: 350px;
/*margin-top: 3rem;*/

margin: 0 auto;

margin-top: 55rem;

/*border: 2px solid black;*/

} 

.medicalhistorytext {

margin-right: 1.7rem;

/*border: 2px solid green;*/
display: inline-block;

}

.innerbox--patientinformation{

margin: 1rem;
padding: 3rem;
border-radius: 20px;
border: 3px solid #7997a1;
background-color: ;

}

.tittleforinputhere {

display: inline-block;
float: left;

}

.modal-header {

font-size: 15px; 
font-weight:bolder; 
font-family: helvetica, arial narrow;

color: black;
text-align: center;
text-decoration: none;

}

.modal-body {

margin: 1rem;
padding: 2rem;
background-color: #cde7f0;

border-radius: 10px;
border: 2px solid #7997a1;

}

















/*.form-group1 {

float: left;
display: inline-block;

}

.form-group2 {

float: left;
display: inline-block;

}*/

/*.modal {

margin: 1rem;

height: 900px;
width: 900px;
border: 2px solid red;
this is shape outside modal box */}


/*.bloodtype{
width: 250px;
margin-left: 4.5rem;
margin-bottom: 1rem;
margin-top: 1rem; 

font-weight: bold;

display: inline-block;
float: left;

border: 2px solid black;


/*.bloodtype select {

margin-left: 51rem; 
*/
}


/*.pure-input-1-3 {

font-weight:;
display: inline-block; 
float: left;
margin-right: 0;
*/

.modal-dialog {

/*width: 800px;*/

/*border: 2px solid orange;*/

}

/*.pure-form-edit{

height: 800px;
border: 2px solid blue;*/
}


/*.pure-input-1-2 {

font-weight: bold;
display: inline-block; 

border: 2px solid blue; textarea*/

}

/*.caregivertittle--box {

/*border: 3px solid black; */
/*width: 250px;
margin-left: 11.6rem;
margin-top: 3rem;
padding-bottom: 3rem;
font-family: helvetica;
font-size: 18px;

margin: 0 auto;
text-align: center;

}  */


/*.pure-control-grouphisto {
font-weight: bold;
width: 500px; 
display: inline-block;
margin-left: 1.5rem;
border: 2px solid yellow;*/



/*.med--history{

width: 400px;
padding-left: 1rem;

display: inline-block;

line-height: 2.5rem;

/*border: 2px solid red;*/


/*.medform {

padding-top: 0.5rem;

}

.healthform {

padding-top: 3.5rem;

}*/

/*.bloodtype{
width: 250px;*/
/*margin-left: 4.5rem;
margin-bottom: 1rem;
margin-top: 1rem; 

font-weight: bold;

display: inline-block;
float: left;*/

/*border: 2px solid black;*/
}

/*.bloodtype select {

margin-left: 51rem; 

}*/



/*.boxesbuttons {
width: 300px;

margin-left: 6rem;

margin-top: 2rem;

  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  
} */

 